
#header {
  background-color: #e91389;
}

.bleuC {
  background-color: rgb(131, 135, 170) 
}

.bleuF {
  background-color: rgb(73, 80, 163)
}

.vertC {
  background-color: rgb(96, 136, 100);
  height: 100px;
}

.vertF {
  background-color: rgb(43, 134, 51)
}

.orangC {
  background-color: rgb(185, 141, 115)
}

.orangF {
  background-color: rgb(221, 98, 26)
}

.titles {
  height: 72px;
}

.footer {
  height: 100px;
}