/*.container {
  height: auto;
  width: auto;
}*/

#header {
  color: #e91389;
}

.test {
  background-color: rgb(102, 106, 153)
}

.test2 {
  background-color: rgb(43, 134, 51)
}

.test3 {
  background-color: rgb(221, 98, 26)
}

/*.footer {
  height: 100px;
}*/